<!-- Header Start -->
<div class="container-fluid page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase">Ejercicios</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white">Inicio</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Ejercicios</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<div class="mb-5">
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
            <a  class="text-decoration-none h6 m-0">Web Design</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
            <a class="text-decoration-none h6 m-0">Web Development</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
            <a  class="text-decoration-none h6 m-0">Online Marketing</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
            <a class="text-decoration-none h6 m-0">Keyword Research</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
            <a  class="text-decoration-none h6 m-0">Email Marketing</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
            <a  class="text-decoration-none h6 m-0">Email Marketing</a>
        </li>
    </ul>
</div>