
<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#header-carousel" data-slide-to="1"></li>
            <li data-target="#header-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="min-height: 300px;">
                <img class="position-relative w-100" src="assets/img/carousel-1.jpg" style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-md-3">La Mejor Educacion En Linea</h5>
                        <h1 class="display-3 text-white mb-md-4">Educacion desde tu hogar</h1>
                        <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2" routerLink = "/about">Ver mas</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 300px;">
                <img class="position-relative w-100" src="assets/img/carousel-2.jpg" style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-md-3">La Mejor Educacion En Linea</h5>
                        <h1 class="display-3 text-white mb-md-4">La mejor forma de aprender</h1>
                        <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2" routerLink = "7about">Ver mas</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 300px;">
                <img class="position-relative w-100" src="assets/img/carousel-3.jpg" style="min-height: 300px; object-fit: cover;">
                <div class="carousel-caption d-flex align-items-center justify-content-center">
                    <div class="p-5" style="width: 100%; max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-md-3">La Mejor Educacion En Linea</h5>
                        <h1 class="display-3 text-white mb-md-4">Una forma gratuita de aprender </h1>
                        <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2" routerLink = "/about">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="assets/img/coding.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Nosotros</h5>
                    <h1>La nueva forma de aprender codigo</h1>
                </div>
                <p>Somos una nueva plataforma que busca orientar a las personas interesadas en aprender a programar de una forma nueva y bastante intuitiva, ofreciendo un servicio de aprendizaje completamente gratuito y disponible para todas las personas que lo necesiten, brindamos una consulta para y una forma de ofrecer enseñanza a otros sitios que tambien lo requieran</p>
                <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Ver mas</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Category Start -->
<div class="container-fluid py-5">
    <div class="container pt-0 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Temas</h5>
            <h1>Explora temas</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="assets/img/back_topics.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" routerLink="/arboles">
                        <h4 class="text-white font-weight-medium">Arboles</h4>
                        <span>1 Course</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="assets/img/back_topics.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" routerLink="/grafos">
                        <h4 class="text-white font-weight-medium">Grafos</h4>
                        <span>1 Courses</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="assets/img/back_topics.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" routerLink="/pilas">
                        <h4 class="text-white font-weight-medium">Pilas</h4>
                        <span>1 Courses</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="assets/img/back_topics.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" routerLink="/listas">
                        <h4 class="text-white font-weight-medium">Listas</h4>
                        <span>1 Courses</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="assets/img/back_topics.jpg" alt="">
                    <a class="cat-overlay text-white text-decoration-none" routerLink="/colas">
                        <h4 class="text-white font-weight-medium">Colas</h4>
                        <span>1 Courses</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category Start -->


<!-- Registration Start -->
<div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Cualquier tema que necesites</h5>
                    <h1 class="text-white">Completamente gratuito</h1>
                </div>
                <p class="text-white">Inicia ahora mismo a utilizar nuestro servicio de forma completamente gratuita y recibe los siguientes beneficios</p>
                <ul class="list-inline text-white m-0">
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Capacidad para generar blogs</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Busqueda de nuevos temas</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Una suscripcion gratuita de por vida</li>
                </ul>
            </div>
            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header bg-light text-center p-4">
                        <h1 class="m-0">Ingresa ahora</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-primary p-5">
                            <div>
                                <button class="btn btn-dark btn-block border-0 py-3" type="submit" routerLink="/sign">Registrar</button>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration End -->


<!-- Team Start -->
<div class="container-fluid py-1">
    <div class="container pt-4 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Maestros</h5>
            <h1>Conoce a nuestros maestros</h1>
        </div>
        <div class="row">
            <div class="col-md-8 col-lg-4 text-center team mb-3">
                <div class="team-item rounded overflow-hidden mb-1">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="assets/img/profesores/teacher1.jpg" style="height:25em; width: 90%;">
                    </div>
                    <div class="p-4" style="background-color: #007bff">
                        <h5 style="color:white">Adrian Marquez Ortiz</h5>
                        <p class="m-0 job-description">Web Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-4 text-center team mb-3">
                <div class="team-item rounded overflow-hidden mb-1">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="assets/img/profesores/teacher2.jpeg" style="height:25em; width: 90%;">
                    </div>
                    <div class="p-4" style="background-color: #007bff">
                        <h5 style="color:white">Andres David Vazquez Serna</h5>
                        <p class="m-0 job-description">Software Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-4 text-center team mb-3">
                <div class="team-item rounded overflow-hidden mb-1">
                    <div class="team-img position-relative">
                        <img class="img-fluid" src="assets/img/profesores/teacher3.jpeg" style="height:25em; width: 90%;">
                    </div>
                    <div class=" p-4" style="background-color: #007bff">
                        <h5 style="color:white">Jesus Ruiz Contreras</h5>
                        <p class="m-0 job-description">Full Stack</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->




