<!-- Header Start -->
<div class="container-fluid page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase">Maestros</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="">Incio</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">MAESTROS</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Maestros</h5>
            <h1>Conoce a nuestros</h1>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-8 col-lg-4 text-center team mb-3">
                    <div class="team-item rounded overflow-hidden mb-1">
                        <div class="team-img position-relative">
                            <img class="img-fluid" src="assets/img/profesores/teacher1.jpg" style="height:25em; width: 90%;">
                        </div>
                        <div class="p-4" style="background-color: #007bff">
                            <h5 style="color:white">Adrian Marquez Ortiz</h5>
                            <p class="m-0 job-description">Web Designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-lg-4 text-center team mb-3">
                    <div class="team-item rounded overflow-hidden mb-1">
                        <div class="team-img position-relative">
                            <img class="img-fluid" src="assets/img/profesores/teacher2.jpeg" style="height:25em; width: 90%;">
                        </div>
                        <div class="p-4" style="background-color: #007bff">
                            <h5 style="color:white">Andres David Vazquez Serna</h5>
                            <p class="m-0 job-description">Software Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-lg-4 text-center team mb-3">
                    <div class="team-item rounded overflow-hidden mb-1">
                        <div class="team-img position-relative">
                            <img class="img-fluid" src="assets/img/profesores/teacher3.jpeg" style="height:25em; width: 90%;">
                        </div>
                        <div class=" p-4" style="background-color: #007bff">
                            <h5 style="color:white">Jesus Ruiz Contreras</h5>
                            <p class="m-0 job-description">Full Stack</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<!-- Team End -->
