<!-- Registration Start -->
<div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Cualquier tema que necesites</h5>
                    <h1 class="text-white">Completamente gratuito</h1>
                </div>
                <p class="text-white">Inicia ahora mismo a utilizar nuestro servicio de forma completamente gratuita y recibe los siguientes beneficios</p>
                <ul class="list-inline text-white m-0">
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Capacidad para generar blogs</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Busqueda de nuevos temas</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Una suscripcion gratuita de por vida</li>
                </ul>
            </div>
            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header bg-light text-center p-4">
                        <h1 class="m-0">Ingresa ahora</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-primary p-5">
                        <form #signupForm="ngForm" (ngSubmit)="onSignUp(signupForm.value)">
                            <div class="form-group">
                                <input type="text" class="form-control border-0 p-4" placeholder="Nombre" required="required" name="userName" ngModel/>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control border-0 p-4" placeholder="Correo" required="required" name="userEmail" ngModel/>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control border-0 p-4" placeholder="Contraseña" required="required" name="userPass" ngModel/>
                            </div>
                            <div>
                                <button class="btn btn-dark btn-block border-0 py-3" type="submit">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
