<!-- Footer Start -->
<div class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
    <div class="row pt-5">
        <div class="col-lg-7 col-md-12">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Contactanos</h5>
                    <p><i class="fa fa-phone-alt mr-2"></i>449 876 5137</p>
                    <p><i class="fa fa-envelope mr-2"></i>codingclass@gmai.com</p>
                    <div class="d-flex justify-content-start mt-4">
                        <a class="btn btn-outline-light btn-square mr-2" ><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-square mr-2" ><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-square" ><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Nuestros Temas</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white mb-2" routerLink="/arboles"><i class="fa fa-angle-right mr-2"></i>Arboles</a>
                        <a class="text-white mb-2" routerLink="/grafos"><i class="fa fa-angle-right mr-2"></i>Grafos</a>
                        <a class="text-white mb-2" routerLink="/colas"><i class="fa fa-angle-right mr-2"></i>Colas</a>
                        <a class="text-white mb-2" routerLink="/listas"><i class="fa fa-angle-right mr-2"></i>Listas</a>
                        <a class="text-white" routerLink="/pilas"><i class="fa fa-angle-right mr-2"></i>Pilas</a>
                        
                    </div>
                </div>
            
            </div>
        </div>
        <div class="col-lg-5 col-md-12 mb-5">
            <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Ejercicios</h5>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white mb-2" routerLink="/ejercicios"><i class="fa fa-angle-right mr-2" ></i>Programacion</a>
            </div>
        </div>
    </div>
</div>
